<!DOCTYPE html>
<html lang="en">
<head>
    <title>微服务信息管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/common-assets/css/normalize.css"/>
    <!-- 引入样式 -->
    <link id="elementThemeG" rel="stylesheet" class="elementTheme"
          href="/common-assets/plugins/element-ui/lib/theme-chalk/element-green.css">
    <link id="elementThemeR" rel="stylesheet" class="elementTheme"
          href="/common-assets/plugins/element-ui/lib/theme-chalk/element-red.css">
    <link id="elementThemeD" rel="stylesheet" class="elementTheme"
          href="/common-assets/plugins/element-ui/lib/theme-chalk/element-default.css">
    <link rel="stylesheet" href="/common-assets/css/dwElementUI.css"/>

    <script src="/common-assets/js/jquery-2.1.1.js"></script>
    <script src="/common-assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/common-assets/plugins/layer/3.0.3/layer.js"></script>
    <script src="/common-assets/plugins/dotize/dotize.js"></script>
    <script src="/common-assets/js/promise-polyfill.min.js"></script>
    <!-- 开发阶段使用vue.js以获取编译信息 -->
    <script src="/common-assets/plugins/vue/2.5.17/vue.min.js"></script>
    <script src="/common-assets/plugins/axios/0.18.0/axios.min.js"></script>
    <!-- 引入组件库 -->
    <script src="/common-assets/plugins/element-ui/lib/index.js"></script>
</head>
<body class="pace-done gray-bg">
<div class="container-fluid">
    <div class="wrapper-cont" id="msServiceInfoListContent" v-cloak>
        <el-card class="box-card search-content" shadow="hover">
            <el-form label-position="right" size="small" label-width="100px"
                     id="msServiceInfoSearchForm" :model="searchParams">
                <el-row :gutter="15">
                    <el-col :span="6" :md="6" :sm="8">
                        <el-form-item label="所属系统">
                            <el-select v-model="searchParams.sysId" filterable remote placeholder="输入关键字搜索系统"
                                       :remote-method="getSysListByUser" :loading="sysLoading"
                                       @focus="handleSysParamFocus">
                                <el-option v-for="item in msSysList" :key="item.id" :label="item.sysName"
                                           :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6" :md="6" :sm="8">
                        <el-form-item label="服务编码">
                            <el-select v-model="searchParams.serviceCode" filterable remote placeholder="输入关键字搜索服务"
                                       :remote-method="getServiceListByUser" :loading="serviceLoading"
                                       @focus="handleServiceParamFocus">
                                <el-option v-for="item in msServiceCodeList" :key="item.serviceCode"
                                           :label="item.serviceCode"
                                           :value="item.serviceCode">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6" :md="6" :sm="8">
                        <el-form-item label="名称">
                            <el-input placeholder="请输入名称" v-model="searchParams.serviceName">
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6" :md="6" :sm="8">
                        <el-form-item label="状态">
                            <el-select v-model="searchParams.status" placeholder="请选择状态">
                                <el-option v-for="param in getDictByField('status')"
                                           :key="param.id" :label="param.paramName"
                                           :value="param.paramCode">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :offset="16" :span="8" :sm="{offset: 8, span: 8}">
                        <el-form-item class="search-content-button-container">
                            <el-button-group>
                                <el-button type="primary" size="small" @click="refreshTable"
                                           icon="el-icon-search">查询
                                </el-button>
                                <el-button size="small" @click="resetSearchParam"
                                           icon="el-icon-refresh">重置
                                </el-button>
                            </el-button-group>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-card>
        <el-card class="box-card" shadow="hover">
            <el-button-group v-if="editType !== 'view'">
                <el-button @click="onlineService" size="mini" icon="el-icon-circle-check-outline">启用服务
                </el-button>
                <el-button @click="offlineService" size="mini" icon="el-icon-circle-close-outline">禁用服务
                </el-button>
                <el-button @click="deleteServiceRecord" type="danger" size="mini" icon="el-icon-delete">删除
                </el-button>
            </el-button-group>
            <el-table size="medium" stripe border tooltip-effect="dark" v-loading="msServiceInfoTableLoading"
                      style="width: 100%;margin: 15px 0 15px 0;" ref="msServiceInfoTable"
                      :data="msServiceInfoTablePage.list" @row-click="handleRowClick" @sort-change="handleSortChange">
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column prop="sysName" label="所属系统" sortable="custom" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="serviceCode" label="服务编码" sortable="custom" show-overflow-tooltip>
                    <template slot-scope="scope">
                        <a @click="viewSelectedMsServiceInfo(scope.row)">{{scope.row.serviceCode}}</a>
                    </template>
                </el-table-column>
                <el-table-column prop="serviceName" label="名称" sortable="custom" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="status" label="状态" sortable="custom" width="120">
                    <template slot-scope="scope">
                        <el-tag :type="scope.row.status === 'UP' ? 'success' : 'danger'">
                            {{eleTableColumnFormatter(scope, getDictByField(scope.column.property))}}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="swaggerUrl" label="在线文档" width="100">
                    <template slot-scope="scope">
                        <a :href="scope.row.swaggerUrl" @click="handleSwaggerUrlClick(scope.row.swaggerUrl)"
                           target="_blank">查看</a>
                    </template>
                </el-table-column>
                <el-table-column label="服务实例" width="100">
                    <template slot-scope="scope">
                        <el-tooltip class="item" effect="dark" :content="'当前' + scope.row.usableInstanceCount + '个实例在线'"
                                    placement="top">
                            <el-tag type="success">
                                <a @click="viewUsableInstancesDetail(scope.row)">{{scope.row.usableInstanceCount}}</a>
                            </el-tag>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" :content="'当前' + scope.row.unusableInstanceCount + '个实例下线'"
                                    placement="top">
                            <el-tag type="danger">
                                <a @click="viewUnusableInstancesDetail(scope.row)">{{scope.row.unusableInstanceCount}}</a>
                            </el-tag>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination layout="total, sizes, ->, prev, pager, next, jumper"
                           :total="msServiceInfoTablePage.count"
                           @size-change="handleTableSizeChange"
                           @current-change="handleTableCurrentChange" :page-sizes="[5, 10, 15, 20]"
                           :page-size="5" background></el-pagination>
        </el-card>
    </div>
</div>
</body>
<!-- 本页面对应JS-->
<script src="/common-assets/js/storageEvent.js"></script>
<script src="/common-assets/js/common.js"></script>
<script src="../static/js/msServiceInfoList.js"></script>
</html>