<!DOCTYPE html>
<html lang="en">
<head>
    <title>微服务系统信息表单管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/common-assets/css/normalize.css"/>
    <!-- 引入样式 -->
    <link id="elementThemeG" rel="stylesheet" class="elementTheme"
          href="/common-assets/plugins/element-ui/lib/theme-chalk/element-green.css">
    <link id="elementThemeR" rel="stylesheet" class="elementTheme"
          href="/common-assets/plugins/element-ui/lib/theme-chalk/element-red.css">
    <link id="elementThemeD" rel="stylesheet" class="elementTheme"
          href="/common-assets/plugins/element-ui/lib/theme-chalk/element-default.css">
    <link rel="stylesheet" href="/common-assets/css/dwElementUI.css"/>

    <script src="/common-assets/js/jquery-2.1.1.js"></script>
    <script src="/common-assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/common-assets/plugins/layer/3.0.3/layer.js"></script>
    <script src="/common-assets/js/promise-polyfill.min.js"></script>
    <script src="/common-assets/plugins/vue/2.5.17/vue.js"></script>
    <script src="/common-assets/plugins/axios/0.18.0/axios.js"></script>
    <script src="/common-assets/plugins/dotize/dotize.js"></script>
    <!-- 引入组件库 -->
    <script src="/common-assets/plugins/element-ui/lib/index.js"></script>
    <script src="/common-assets/js/common.js"></script>
    <script src="/common-assets/js/storageEvent.js"></script>
</head>
<body class="pace-done white-bg">
<div class="container-fluid">
    <el-form label-position="right" size="small" label-width="100px" class="with-border"
             ref="msSystemInfoForm" id="msSystemInfoForm" :model="entity" :rules="rules" v-cloak>
        <el-collapse :value="['basicInfo', 'authInfo']">
            <el-collapse-item title="基础信息" name="basicInfo">
                <el-row type="flex" justify="center">
                    <el-col :span="12">
                        <el-form-item prop="sysCode" label="编码">
                            <el-input placeholder="请输入编码" v-model="entity.sysCode"
                                      :disabled="editType !== 'add'" @blur="setDefaultRootPath"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item prop="sysName" label="名称">
                            <el-input placeholder="请输入名称" v-model="entity.sysName"
                                      :disabled="editType === 'view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="24">
                        <el-form-item prop="sysDesc" label="描述">
                            <el-input type="textarea" v-model="entity.sysDesc" :rows="2"
                                      placeholder="请输入描述" :disabled="editType === 'view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="12">
                        <el-form-item prop="sysDomain" label="业务域">
                            <el-select v-model="entity.sysDomain" clearable :disabled="editType === 'view'"
                                       placeholder="请选择业务域">
                                <el-option v-for="param in getDictByField('sysDomain')" :key="param.id"
                                           :label="param.paramName" :value="param.paramCode">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item prop="rootPath" label="根路径">
                            <el-input placeholder="请输入根路径" v-model="entity.rootPath"
                                      :disabled="editType === 'view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="12">
                        <el-form-item prop="maxAppInstanceNum" label="最大服务实例数">
                            <el-input placeholder="请输入最大服务实例数" v-model="entity.maxAppInstanceNum"
                                      :disabled="editType === 'view'"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item prop="valid" label="是否可用">
                            <el-select v-model="entity.valid" clearable :disabled="editType === 'view'"
                                       placeholder="请选择是否可用">
                                <el-option v-for="param in getDictByField('valid')" :key="param.id"
                                           :label="param.paramName" :value="param.paramCode">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-collapse-item>
            <el-collapse-item title="授权信息" name="authInfo">
                <el-row type="flex" justify="center">
                    <el-col :span="12">
                        <el-form-item prop="authType" label="授权码类型">
                            <el-select v-model="entity.authType" :disabled="editType === 'view'"
                                       placeholder="请选择授权码类型" @change="handleAuthTypeChange"
                                       @visible-change="handleAuthTypeDropVisible">
                                <el-option v-for="param in getDictByField('authType')" :key="param.id"
                                           :label="param.paramName" :value="param.paramCode">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12"></el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="24">
                        <el-form-item prop="authCode" label="授权码">
                            <el-input placeholder="请输入授权码" v-model="entity.authCode" disabled>
                                <el-button :slot="editType === 'view' ? '' : 'append'" icon="el-icon-refresh"
                                           type="primary" @click="generateNewCode"></el-button>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-collapse-item>
        </el-collapse>
    </el-form>
</div>
</body>
<!-- 本页面对应JS-->
<script src="../static/js/msSystemInfoForm.js"></script>
</html>